.borde {
    border: 1px solid black;
}
.color {
    background-color: #A7F0B7 ;
}
body{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    height: 100vh;
}

#xml{
    align-self:center;
    height:580;
    width:320;
}

.impar{
text-align: right;
}

.par{
text-align: left;
background-color: #fff799;  
}
